Repository helium/HIP, pull requests merged in 2021-08, with the labels that each got.

#253 Mark HIP28 as approved
  0028-consensus-reward-adjustments.md
  README.md
Labels: status updates

#167 Linxdot – HIP19 third-party manufacturer application
  0019-third-party-manufacturers/linxdot.md
Labels: manufacturer

#179 SenseCAP/ Seeed - HIP19 third-party manufacturer application
  0019-third-party-manufacturers/seeed-light-gateway.md
  0019-third-party-manufacturers/seeed.md
Labels: manufacturer

#255 Smart Harvest Instruments - HIP19 third party manufacturer application
  0019-third-party-manufacturers/shi/hl100-prototype-00.jpg
  0019-third-party-manufacturers/shi/hl100-prototype-01.jpg
  0019-third-party-manufacturers/shi/hl100-prototype-02.jpg
  0019-third-party-manufacturers/shi/hl100-prototype-terminal-00.png
  0019-third-party-manufacturers/smart-harvest-instruments.md
Labels: manufacturer

#139 Browan Wireless Gateway – HIP19 manufacturer application
  0019-third-party-manufacturers/Browan-Cellular-Gateway.md
Labels: manufacturer

#145 Dragino – HIP19 manufacturer application
  0019-third-party-manufacturers/dragino.md
Labels: manufacturer

#171 RisingHF - HIP19 third-party manufacturer application
  0019-third-party-manufacturers/risinghf.md
Labels: manufacturer

#230 KauZ - HIP19 third party manufacturer application
  0019-third-party-manufacturers/KauZ-HIP19-third-party-manufacturer
Labels: manufacturer

#227 PantherX - HIP19 third party manufacturer application
  0019-third-party-manufacturers/PantherX.md
Labels: manufacturer

#234 Pycom - HIP19 third party manufacturer application
  0019-third-party-manufacturers/pycomltd.md
Labels: manufacturer

#233 Midas - HIP19 third party manufacturer application
  0019-third-party-manufacturers/midas.md
Labels: manufacturer

#232 Innodev - HIP19 third party manufacturer application
  0019-third-party-manufacturers/innodev.md
Labels: manufacturer

#242 KS Technologies, LLC - HIP19 third party manufacturer application
  0019-third-party-manufacturers/ks-technologies.md
  0019-third-party-manufacturers/kstechnologies/HLC_Ren1_WEink.png
  0019-third-party-manufacturers/kstechnologies/HLC_Ren2_WEink.png
  0019-third-party-manufacturers/kstechnologies/HLC_Ren3_WEink.png
Labels: manufacturer

#237 Deeper Network - HIP19 third party manufacturer application
  0019-third-party-manufacturers/deeper-network.md
  0019-third-party-manufacturers/deeper-network/ble_test_result_with_ble_tester_app.png
  0019-third-party-manufacturers/deeper-network/deeper_logo.jpg
  0019-third-party-manufacturers/deeper-network/deeper_usb.png
  0019-third-party-manufacturers/deeper-network/ecc608.png
  0019-third-party-manufacturers/deeper-network/helium_module_back_side.png
  0019-third-party-manufacturers/deeper-network/helium_module_front_side.png
  0019-third-party-manufacturers/deeper-network/hotspot_was_found.png
  0019-third-party-manufacturers/deeper-network/list.png
  0019-third-party-manufacturers/deeper-network/miner_test_result.png
  0019-third-party-manufacturers/deeper-network/packet_forwarder_test_result.png
  0019-third-party-manufacturers/deeper-network/prods.png
  0019-third-party-manufacturers/deeper-network/start_gateway_config.png
  0019-third-party-manufacturers/deeper-network/swmer.png
  0019-third-party-manufacturers/deeper-network/world.png
Labels: manufacturer

#231 Lakshmi IO - HIP19 third party manufacturer application
  0019-third-party-manufacturers/lakshmi-io.md
Labels: manufacturer

#214 PiMios - HIP19 third party manufacturer application
  0019-third-party-manufacturers/pimios.md
Labels: manufacturer

#209 BeiJing ManThink Tech Co. Ltd- Hip19 Manufacturer Application
  0019-third-party-manufacturers/manthink.md
Labels: manufacturer

#206 Shanghai NanChao Information Technology Co. (RUFF) - HIP19 third party manufacturer application
  0019-third-party-manufacturers/ruff.md
Labels: manufacturer

#203 IOTCOMM - HIP19 third party manufacturer application manufacturer
  0019-third-party-manufacturers/iotcomm.md
Labels: manufacturer

#201 Autosys Industrial Solutions - HIP19 third party manufacturer application
  0019-third-party-manufacturers/autosys.md
Labels: manufacturer

#195 Heltec Automation - HIP19 third party manufacturer application
  0019-third-party-manufacturers/heltec.md
  0019-third-party-manufacturers/heltec/01.png
  0019-third-party-manufacturers/heltec/02.png
  0019-third-party-manufacturers/heltec/03.png
  0019-third-party-manufacturers/heltec/04.png
  0019-third-party-manufacturers/heltec/05.png
  0019-third-party-manufacturers/heltec/06.png
Labels: manufacturer

#184 Milesight IoT - HIP19 third party manufactory application
  0019-third-party-manufacturers/milesight-iot.md
Labels: manufacturer

#175 i2SOM - HIP19 third-party manufacturer application
  0019-third-party-manufacturers/i2som.md
  0019-third-party-manufacturers/i2som/i2x-6ub-gw-side1.png
  0019-third-party-manufacturers/i2som/i2x-6ub-gw-side2.png
Labels: manufacturer

#174 Palmcroft - HIP19 third-party manufacturer application
  0019-third-party-manufacturers/palmcroft.md
Labels: manufacturer

#173 Layer 3 - HIP19 third-party manufacturer application
  0019-third-party-manufacturers/layer-3.md
Labels: manufacturer

#172 RevoFi - HIP19 third-party manufacturer application
  0019-third-party-manufacturers/revofi.md
Labels: manufacturer

#156 FreedomFi HIP19 manufacturer application
  0019-third-party-manufacturers/freedomfi.md
Labels: manufacturer

#257 HIP36 proposal: use blockheights instead of time
  0036-blockheights-instead-of-time.md
  README.md
Labels: draft

#238 Bobcat - HIP19 amendments for alternate security implementations
  0019-third-party-manufacturers/Bobcat.md
  0019-third-party-manufacturers/DX83E08.pdf
Labels: changes requested, manufacturer

#162 Pisces-Miner – HIP19 3rd Party Manufacturer Application
  0019-third-party-manufacturers/Pisces-Miner.md
Labels: manufacturer

#267 Update HIP19 to link to new repository
  0019-third-party-manufacturers.md
Labels: amendment

#269 HIP draft: omni-protocol PoC on Helium Network
  0037-omni-protocol-poc.md
  README.md
Labels: draft
