Repository helium/HIP, pull requests merged in 2024-10, with the labels that each got.

#1087 HIP 133: Bridging Gap for Anti-Gaming Measures Phase 2
  0133-bridging-gap-for-anti-gaming-measures-phase2.md
Labels: updates, technical, economic, MOBILE

#1091 HIP 134: Reward MOBILE Carrier Beta Hotspots
  0134-reward-mobile-carrier-beta-hotspots.md
Labels: technical, economic, MOBILE

#1095 HIP 135: Transitioning to Templated MOBILE Coverage
  0135-transitioning-to-templated-mobile-coverage.md
Labels: technical, economic, MOBILE

#1084 HIP 136: Eliminate IOT Rewards for Redundant Coverage
  0136-eliminate-iot-rewards-for-redundant-coverage.md
  README.md
  files/0136/3-hotspots-res-11-ring-7.png
Labels: technical, economic, IOT

#1110 HIP 137: Remove CN470 from IOT PoC
  0137-remove-cn470-from-iot-poc.md
Labels: economic, IOT
